name: Github Pages Deploy

on:
  push:
    branches:
      - "master"
jobs:
  build:
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        node-version: [15.x]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      
      - name: Install and build
        run: npm install && npm run build
      
      - name: Deploy
        run: JamesIves/github-pages-deploy-action@4.1.1